body,
div {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    text-align: center;
}

div {
    padding: 0 5px;
}

::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #C91899;
}

::-webkit-scrollbar-thumb:window-inactive {
    background: #C91899;
}